{% extends "layout-mini.html.twig" %}

{% import "carto.twig" as carto %}

{% block stylesheets %}
    {{ carto.cssFull() }}
{% endblock %}

{% block javascripts %}
    {{ carto.jsFull() }}
    <script src="{{ register_entries_js }}"></script>
    <script src="/js/app-base-map.js"></script>
{% endblock %}

{% block main %}
    <div id="map"></div>
{% endblock %}
