{% extends "layout-mini.html.twig" %}

{% import "carto.twig" as carto %}

{% block stylesheets %}
    {{ carto.cssBase() }}
{% endblock %}

{% block javascripts %}
    {{ carto.jsBase() }}
    <script src="{{ geoEntries_js }}"></script>
    <script>
        var currentPlace = [{{ lastGeoEntry.geoCoords | default('0, 0') }}];
    </script>
    <script src="/js/app-base-mini-map.js"></script>
{% endblock %}

{% block main %}
    <!-- Mini-map -->
    <div id="map"></div>
{% endblock %}
